@import "mocha.css";
* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;

}
.modules-center {
    font-weight: bold;
    background-color: @surface1;
    color: @peach;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid @flamingo;
    box-shadow: 0 0 10px alpha(@flamingo, 0.5);
}
#waybar {
  background: alpha(@base, 0.8);
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}
#window{
  color: @text;
  font-weight: bold;
  padding: 0.5rem .7rem;
  border-radius: 1rem;
  background-color: @surface0;
  margin: 5px;
}
#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
  margin: 0px 3px;
  font-size: 10px;
}

#workspaces button.active {
  color: @sapphire;
  background-color: @surface2;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-separator {
  color: @green;
  padding-right: 10px;
  padding-left: 10px;
}

#custom-separator_dot {
  color: @green;
  padding-right: 10px;
  padding-left: 10px;
}

#clock.time {
  color: @flamingo;
}

#clock.week {
  color: @sapphire;
}

#clock.month {
  color: @sapphire;
}

#clock.calendar {
  color: @mauve;
}
#temperature,
#memory {
  margin: 0px 10px;
}


#custom-music,
#tray,
#backlight,
/* #clock, */
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-network {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#cava {
  color: @mauve;
  border-radius: 1rem;
  margin: 0rem 1rem;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @blue;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight{
  border-radius: 0;
}
#battery {
  border-radius:0rem 1rem 1rem 0rem;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  
}

#custom-power {
  margin-right: 1rem;
  margin-left: 10px;
  border-radius: 1rem 1rem 1rem 1rem;
  color: @red;
}

#network {
  color: @blue;
  border-radius: 1rem 0rem 0rem 1rem;
  padding: 0.5rem 1rem;
}

/* #tray {
  margin-right: 1rem;
  border-radius: 1rem;
} */